body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sticker {
  position: absolute;
  pointer-events: none;
  max-width: 420px;
  min-width: 160px;
  height: auto;
  image-rendering: pixelated;
  /* animation: fadeInOut 5.5s ease-in-out; */
  opacity: 0;
}
